label{
	display: block;
	width: 250px;
	margin-top: 20px;
}
.submit{
	margin-top: 25px;
}
.radiolabel{
	display: inline;
}
textarea{
	resize: vertical; /* vertical / horizontal / both / none */
}