	
	
	
	<!---- DEBUT CONTENU ---->
    <div class="container">
      <div class="starter-template">
        <h1><span class="glyphicon glyphicon-euro" style="color: NavajoWhite;"></span> Boutique</h1>
      </div>
	  
	  <div class="row">
		<div class="col-sm-2">
				
				<!-- DEBUT MENU CATEGORIES  -->
				<ul class="list-group">
					<li class="list-group-item"><a href="boutique.php">Tous les articles</a></li>
					<?php foreach($categories as $categorie) : ?>
						<li class="list-group-item"><a href="?controller=article&action=categorie&cat=<?= $categorie['categorie'] ?>"><?= $categorie['categorie'] ?></a></li>
					<?php endforeach; ?>
				</ul>
				<!-- FIN MENU CATEGORIES  -->

				<hr />
				
				<!--<form method="post" action="">
					<div class="form-group">
						<label for="couleur">Couleur</label>
						<select name="couleur" id="couleur" class="form-control">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label for="taille">Taille</label>
						<select name="taille" id="taille" class="form-control">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit"  name="filtrer" id="filtrer" class="form-control btn btn-primary">Valider</button>
					</div>
				</form>-->
		</div>
		<h1><?= $title ?></h1>
		<div class="col-sm-10">
				<div class="row">
				<p>Nombre de résulats à votre recherche : <?= $nbArticle ?></p>
				<!---- DEBUT VIGNETTE ARTICLE ---->
				<?php foreach($articles as $article) : ?>
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<img src="img/logo-boutique.gif" class="img-responsive" />
							</div>
							<div class="panel-body text-center">
								<h5><?= $article -> getTitre() ?></h5>
								<img src="photo/<?= $article -> getPhoto() ?>"  class="img-responsive" />
								<br /><p><b>Prix: </b><?= $article -> getPrix() ?>€ </p>
								<hr />
								<a href="?controller=article&action=affiche&id=<?= $article -> getId_article() ?>" class="btn btn-primary">Voir la fiche article</a>
							</div>
						</div>
					</div>
				<?php endforeach; ?>	
				<!---- FIN VIGNETTE ARTICLE ---->


				
				</div>		
		</div>
	  </div>
	  

    </div>
	<!---- FIN CONTENU ---->
	<!-- /.container -->


















