{% extends "layout.html.twig" %}

{% block content %}
    <p>Hello {{ name }} !</p>
    {# path('nom_de_la_route') génère le chemin correspondant #}
    <p><a href ="{{path('hello_world')}}">Vers la page Hello World</a></p>
{% endblock %}
