#conteneur{
	border: 2px solid;
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	font-size: 1vw; /* 1vw = 1% de la largeur d'écran */
}
header{
	background: #f6523f;
	height: 15vh;
}
nav{
	background: #653;
	height: 5vh;
}
section{
	margin: 2%;
}
footer{
	background: #32f65f;
	height: 5vh;
}
.a, .b, .c ,.d{
	float: left;
	width: 50%;
	height: 28vh;
}
.a{
	background: #369;
}
.b{
	background: #767676;
}
.c{
	background: #fda500;
}
.d{
	background: #aa2355;
}
.clear{
	clear: both;
}
p{margin: 0;}