{% extends "layout.html.twig" %}

{% block content %}
    <form method='post'>
        Prénom : <input type='text' name='prenom' value ='{{abonne.prenom}}'>
        <input type='submit' value='enregistrer'> 
    </form>
{% endblock %}
