/*
Cette structure s'appelle un ensemble de règles (généralement on appelle ça une règle).

Ici body est le sélecteur qui permet de définir les éléments sur lesquels le style souhaité doit s'appliquer (en l'occurence l'élement body).
Pour mettre en forme un élément différent, il suffit de changer le sélecteur.

Entre accolades nous avons deux déclarations
Chaque déclaration est séparée de la suivante par ";"
Une déclaration comporte une propriété (background-color) et une valeur de propriété (lightgrey).
Chaque propriété est séparée de sa valeur par ":"
*/
body{
	/* déclaration css définissant la couleur de fond de l'élément */
	background-color: #D3D3D3;
	/* définition de la couleur du texte de l'élément */
	color: rgba(255,255,255,0.5);
}
header{
	background-color: dodgerblue;
	/* définition de la hauteur de l'élement */
	height: 100px;
}
nav{
	background-color: slategray;
	height: 30px;
}
section{
	background-color: whitesmoke;
	height: 500px;
	color: slategray;
}
footer{
	background-color: dodgerblue;
	height: 80px;
}
/*
Couleurs
En CSS, nous pouvons faire appel aux couleurs de 3 manières différentes :

- Des mots clés des couleurs basés sur une désignation des couleurs en anglais. ex : black, white...
Nous pouvons faire appel ainsi à plus de 200 couleurs.

- Code hexadécimal : une combinaison de 3 ou 6 caractères de 0 à 9 et de A à F corerspondant à 256*256*256 = 16 777 216 couleurs différentes.
Syntaxe : #FF0011

- Code décimal : une combinaison de 3 valeurs de 0 à 255 correspondant à 256*256*256 = 16 777 216 couleurs différentes.
Syntaxe : rgb(255,0,0)
Une variante ajoute la donnée de transparence :
Syntaxe : rgba(255,0,0,0.5)

Color.adobe.com, colourlovers.com, paletton.com
*/