/* **************** SETUP ***************** */
body{
	background: #fff;
	margin: 0;
	padding: 0;
}
.conteneur{
	width: 92%;
	margin: 0 auto;
	border: 1px solid red;
}
/* **************** STRUCTURE ***************** */
header{
	background: #686a6a;
	width: 100%;
}
/* **************** MEDIA QUERIES ***************** */
@media (min-width:768px){

}
@media (min-width:980px){
	.conteneur{
		max-width: 1200px;
	}
}