.container{
	border: 1px solid #000;
	height: 550px;
}
#flex{
	height: 100%;
	display: flex;
	flex-direction: row;
	/* flex-direction définit le sens de distribution des éléments enfants du conteneur flex 
	- row (valeur par défaut): axe principal: horizontal, axe secondaire: vertical
	- column: axe principal vertical, axe secondaire: horizontal
	- row-reverse: idem inversé;
	- column-reverse: idem inversé
	*/
	justify-content: space-around;
	/* L'alignement dans l'axe principal (flex-start / flex-end / center / space-between / space-around)
	*/
	align-items: flex-start;
	/* Alignement dans l'axe secondaire (stretch / flex-start / center/ flex-end) */
	flex-wrap: nowrap;
	/* Choisir le type de gestion de retour à la ligne (nowrap(défaut) / wrap / wrap-reverse) */
}
.item1{
	background: green;
	height: 300px;
	width: 300px;
	margin: 20px;
	order: 2;
	flex: 1;
}
.item2{
	background: orange;
	height: 300px;
	width: 300px;
	margin: 20px;
	align-self: flex-end;
	/* Exception de positionnement pour un élément donné sur l'axe secondaire */
	order: 3;
	flex: 2;
}
.item3{
	background: red;
	height: 300px;
	width: 300px;
	margin: 20px;
	order: 1;
	flex: 3;
}